:root {
  --color-html: rgb(255, 141, 88);
  --color-css: rgb(60, 167, 255);
  --color-javascript: rgb(253, 255, 143);
  --color-terminal: darkgreen;
  --color-github: rgb(128, 0, 128);
  --color-ia: aquamarine;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: "JetBrains Mono", monospace;
  font-weight: 600;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to bottom,
      rgba(2, 6, 23, 0.1),
      rgba(2, 6, 23, 0.6),
      rgba(2, 6, 23, 1)
    ),
    url(bg-img.png);
}

nav ul {
  list-style-type: none; /* Remove os marcadores de lista */
  padding: 0; /* Remove o preenchimento padrão da lista */
  margin: 0; /* Remove a margem padrão da lista */
}

.main-header-child {
  font-size: 2.3em;
  text-shadow: 0px 3px 5px rgb(0, 0, 0);
  text-align: center;
  background: rgb(15, 23, 42, 0.1);
  border-radius: 12px;
  padding: 16px;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.3);
}

.detento {
  text-decoration: line-through;
}

.sub-title {
  font-size: 0.4em;
  color: #818181;
}

.post-name {
  font-size: 1.8em;
  margin-bottom: 50px;
  text-shadow: 3px 3px 5px rgb(0, 0, 0);
}

.main-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.post-container {
  background: linear-gradient(
    to right,
    rgba(17, 24, 39, 0.8),
    rgba(15, 23, 42, 1)
  );
  border-radius: 12px;
  padding: 16px;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.3);
  max-width: 65%;
  min-width: 65%;
  margin-bottom: 50px;
}

.post-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 100%;
}

.post-title {
  font-weight: bold;
  font-size: 1.2em;
  text-shadow: 3px 3px 5px rgb(0, 0, 0);
}

.time-created {
  margin-left: auto;
  align-self: center;
  color: #888;
  font-size: 0.9em;
  border: 0.5px;
  border-radius: 50px;
  padding: 6px 12px;
  background: linear-gradient(to right, #111827, #374151);
}

.post-body {
  font-size: 1em;
  color: rgb(216, 216, 216);
  text-shadow: 3px 3px 5px rgb(0, 0, 0);
}

.reactions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}

.reactions div {
  /* Div fantasma para ocupar espaço inicial e centralizar o proximo item */
  flex-basis: 81px; /* Flex-basis faz a div ter um tamanho inicial */
}

.feels1 {
  background: linear-gradient(to right, #1a2a6c, #172046);
  color: white;
  font-size: 0.8em;
  border: 0.5px;
  border-radius: 50px;
  padding: 6px 12px;
}

.feels3 {
  background: linear-gradient(to right, #111827, #374151);
  color: white;
  font-size: 0.8em;
  border: 0.5px;
  border-radius: 50px;
  padding: 6px 12px;
}

.feels2 {
  background: linear-gradient(to right, #1E3A59, #0A1C2C);
  color: white;
  font-size: 0.8em;
  border: 0.5px;
  border-radius: 50px;
  padding: 6px 12px;
}

.github-link {
  text-decoration: none;
  font-weight: 600;
  font-size: 1em;
  background: linear-gradient(to right, #0d1117, #24292e);
  margin-bottom: 7px;
  border-radius: 10px;
  padding: 5px;
  color: rgb(255, 255, 255);
}

.github-version {
  text-decoration: none;
  font-weight: 600;
  font-size: 1em;
  background: linear-gradient(to right, #1a2a6c, #172046);
  margin-bottom: 7px;
  border-radius: 10px;
  padding: 5px;
  color: rgb(255, 255, 255);
}

.linkedin-link {
  text-decoration: none;
  font-weight: 600;
  font-size: 1em;
  background: linear-gradient(to right, #001e3c, #003973);
  margin-bottom: 7px;
  border-radius: 10px;
  padding: 5px;
  color: rgb(255, 255, 255);
}

.github-version:hover,
.github-link:hover,
.linkedin-link:hover,
.github-version:focus, /* Adicionado */
.github-link:focus,    /* Adicionado */
.linkedin-link:focus { /* Adicionado */
  color: greenyellow;
  outline: 2px solid greenyellow;
}

.main-footer {
  display: flex;
  flex-direction: column;
  bottom: 0;
  width: 100%;
  background-color: rgba(15, 23, 42, 0.2);
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 0.9em;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Define variáveis do dark mode (ou coloca na :root para deixar como padrão) */
    --background-color: #1a1a2e;
    --text-color: #e0e0e0;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    /* Define variáveis do light mode  */
    --background-color: #ffffff;
    --text-color: #333333;
  }
}

@media (max-width: 768px) {
  .menu-div {
    flex-direction: column;
  }
  .main-title {
    font-size: 0.8em;
  }

  .main-div {
    max-width: 80%;
  }
}

.html-color {
  color: var(--color-html);
}

.css-color {
  color: var(--color-css);
}

.javascript-color {
  color: var(--color-javascript);
}

.terminal-color {
  color: var(--color-terminal);
}

.github-color {
  color: var(--color-github);
}

.ia-color {
  color: var(--color-ia);
}
